.contacts
{
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.contacts .contact 
{
  border: grey solid 1px;
  height: max-content;
  width: 33.33%;
  padding: 1rem;
}

.contacts .contact p
{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.contacts .contact p span
{
  margin: 0 3px;
}

.contacts .contact p span:first-of-type
{
  margin-left: 20px;
}

.contacts .contact p span button
{
  width: max-content;
  padding: 1rem;
}

.contacts .contact p .infoElement
{
  display: block;
  width: 100%;
}

.contacts .contact p .infoElement h5,
.contacts .contact p .infoElement p
{
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
  padding: 1rem;
}

